@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: black;
    min-width: 360px;
}

main {
    background-image: url(".././images/a-twin.jpg");
    background-size: cover;
    background-position-y: 30%;
    background-position-x: 40%;
    height: 80vh;
    color: #070707;
    text-align: center;
}

.mission-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    height: 10vh;
}

.table {
    width: 60vw;
    color: #f5f561;
    background: #070707;
    opacity: 0.5;
}

thead {
    font-size: 1.5rem;
}

footer {
    height: 10vh;
    text-align: center;
    color: red;
}

.list-row:hover {
    color:red;
}

.btn-binoculars{
    border-radius: 50%;
    color: #f5f561;
}

.bi-binoculars-fill {
    font-size: 1rem;
}
